<div id="hero" class="px-4 lg:px-8 mx-0 lg:mx-8 mt-8">
    <div class="grid justify-content-center">
        <div class="col-12 text-center">
            <div class="font-bold text-2xl mb-3">
                <span class="text-900">Principais recursos do </span>
                <span class="text-primary">Sistema para Loja de Autopeças</span>
            </div>
        </div>

        <div class="col-6 md:col-6 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-6 lg:mt-0 p-1"  *ngFor="let objeto of listaObjetos">
            <div
                style="padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                <div class="p-3 surface-card h-full text-center " style="border-radius:8px;">
                    <div class="flex justify-content-center w-full">
                        <div class="flex align-items-center justify-content-center"
                            style="width:3.5rem;height:3.5rem; border-radius:10px; background-color: {{ objeto.bgColor }} ;">
                            <i class="pi-fw {{ objeto.icon }} text-2xl font-bold" style="color: {{ objeto.iconColor }}"></i>
                        </div>
                    </div>
                    <h5 class="mb-2 text-sm font-bold" style="height: 20px;">{{objeto.title}}</h5>
                </div>
                <div class="w-full text-center">
                    <p-button [text]="true" label="Ver Mais" (onClick)="selecionarItem(objeto)"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [header]="itemSelecionado.title" [(visible)]="pdialogOpen" [style]="{'width': isMd ? '40vw' : '100vw'}">
    <li class="flex align-items-center mb-3" *ngFor="let opcoes of itemSelecionado.topics">
        <i class="pi pi-check-circle text-green-500 mr-2"></i>
        <span class="text-900">{{opcoes.label}}</span>
    </li>
</p-dialog>