<div class="surface-0 flex justify-content-center" >
    <div id="home" class="landing-wrapper overflow-hidden w-full">
        <div
            class="w-full py-2 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static ">
            <a class="flex align-items-center" href="#">
                <img src="/assets/brand/logo-preto-horizontal.png" alt="Integra Logo" height="40" class="mr-0 lg:mr-2">
            </a>
        </div>
        
        <page-1></page-1>
        <page-3></page-3>
        <page-2></page-2>
        <page-4></page-4>
        <page-5></page-5>
        <page-6></page-6> 
        <page-7></page-7>

    </div>
</div>