<div class="surface-0 flex justify-content-center">
    <div id="home" class="landing-wrapper overflow-hidden w-full">
        <cabecalho></cabecalho>
        <div id="hero" class="bg flex align-items-center justify-content-center w-full px-8 py-5">
            <div class="grid card">
                <div class="col-12 p-4">
                    <img src="/assets/brand/fotos/logo-itgra-preto.png" style="width: 300px" alt="Logo da Empresa"
                        class="logo mb-4" />
                    <div class="text-content">
                        <h2 class="text-5xl font-bold">Inscrição Confirmada!</h2>
                        <p class="text-3xl mt-2">Obrigado por se inscrever! Em breve, entraremos em contato pelo meio informado.</p>                        
                    </div>
                </div>
                <div class="p-4">
                  <p-button label="Voltar" icon="pi pi-arrow-left" rounded size="large"
                    type="submit" (onClick)="voltar()">
                  </p-button>
                </div>
            </div>
        </div>
    </div>
</div>