#hero {
    min-height: 100vh;
    img {
        height: 25rem;
    }
    #block1 {
        margin-top: 1rem;
        width: 90%;
    }

    button {
        z-index: 9999;
        background-color: var(--text-primary) !important;
    }
}

@media (min-width: 768px) {
    #hero {
        min-height: 70vh;
        img {
            height: 25rem;
        }
    }
    #block1 {
        margin-top: 0px !important;
        width: 100% !important;
    }
}

@media (min-width: 1024px) {
    #hero {
        min-height: 55vh;
        img {
            height: 25rem;
        }
    }
    #block1 {
        margin-top: 0px !important;
        width: 50% !important;
    }
}

@media (min-width: 1280px) {
    #hero {
        min-height: 40vh;
        img {
            height: 25rem;
        }
    }
    #block1 {
        margin-top: 0px !important;
        width: 60% !important;
    }
}
:host ::ng-deep {
  button {
    background-color: var(--text-primary); /* Altere para a cor desejada */
    color: white; /* Cor do texto */
    border: none; /* Remover borda, se necessário */
  }
  
  button:hover {
    background-color: #5e00c8; /* Cor ao passar o mouse */
  }
}