<div id="hero" class="relative flex flex-column md:flex-row pt-4 px-4 lg:px-8 overflow-hidden"
    style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #d2afef 0%, #5c14e21f 100%); clip-path: ellipse(150% 87% at 93% 13%);">
    <div id="block1" class="mx-4 md:mx-8 z-10 sm:pr-8">
        <h1 class="text-6xl font-bold text-gray-900 line-height-2 mt-0 sm:mt-6 ">
            <span class="font-light block">Sistemas para</span>Loja de Autopeças
        </h1>
        <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700" [@pAnimation]="'fadeIn'">
            Controle total e intuitivos dos setores de
            compra, vendas, estoque, tributos e financeiro.</p>
        <p-button [rounded]="true" label="Quero ter acesso agora por 15 dias grátis" [style]="{'z-index': 9999}" size="large"></p-button>
    </div>
    <div class="absolute bottom-0 right-0 w-full flex sm:justify-content-end" >
        <img src="assets/brand/fotos/foto-1-bg.png" [@pAnimation]="'fadeIn'">
    </div>
</div>