<div id="hero" class="bg mt-8 flex align-items-center justify-content-center w-full p-8">
    <div class="grid card ">
        <!-- Lado esquerdo com a logo e textos -->
        <div class="col-12 md:col-6 p-4">
            <img src="/assets/brand/fotos/logo-preto-horizontal.png" style="width: 300px" alt="Logo da Empresa" class="logo mb-4" />
            <div class="text-content">
                <h2 class="text-5xl font-bold">Vamos Começar?</h2>
                <p class="text-3xl mt-2">Teste gratuitamente o Sistema de Gestão Empresarial</p>
            </div>
        </div>
        <div class="col-12 md:col-6 pt-6">
            <span class="p-float-label">
                <label for="name" class="block text-lg font-semibold">Insira seu nome aqui</label>
                <input pInputText id="name" name="name" class="p-inputtext-lg" 
                    [style]="{'width':'100%'}" />
            </span>
            <span class="p-float-label mt-3">
                <label for="email" class="block text-lg font-semibold">Digite seu melhor email</label>
                <input pInputText id="email" name="email" class="p-inputtext-lg" 
                    [style]="{'width':'100%'}" />
            </span>
            <span class="p-float-label mt-3">
                <label for="name" class="block text-lg font-semibold">Digite seu telefone</label>
                <input pInputText id="name" name="name" class="p-inputtext-lg"
                    [style]="{'width':'100%'}" />
            </span>
            <div class="mt-5 mb-6">
                <p-button label="Quero ter meu acesso agora por 15 dias gratuito!" icon="pi pi-check" rounded="true" size="large"></p-button>
            </div>
            <!-- <div class="mb-4">
                    <label for="email" class="block text-lg font-semibold">Email</label>
                    <input type="email" id="email" name="email" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Seu email" />
                </div>
                <div class="mb-4">
                    <label for="phone" class="block text-lg font-semibold">Celular</label>
                    <div class="flex">
                        <input type="text" id="ddd" name="ddd" class="w-1/4 p-3 border border-gray-300 rounded-md" placeholder="DDD" />
                        <input type="text" id="phone" name="phone" class="w-3/4 p-3 border border-gray-300 rounded-md" placeholder="Seu celular" />
                    </div>
                </div> -->
            <!-- <button type="submit" class="w-full p-4 bg-primary text-white rounded-md font-semibold">
                    Quero ter acesso agora por 15 dias gratuito
                </button> -->
        </div>
    </div>
</div>