<div id="hero" class="bg mt-8 flex align-items-center justify-content-center w-full p-8">
    <div class="grid card ">
        <!-- Lado esquerdo com a logo e textos -->
        <div class="col-12 md:col-6 p-4">
            <img src="/assets/brand/fotos/logo-itgra-preto.png" style="width: 300px" alt="Logo da Empresa" class="logo mb-4" />
            <div class="text-content">
                <h2 class="text-5xl font-bold">Vamos Começar?</h2>
                <p class="text-3xl mt-2">Teste gratuitamente o Sistema de Gestão Empresarial</p>
            </div>
        </div>
        <div class="col-12 md:col-6">
          <formulario></formulario>
        </div>
    </div>
</div>